### file Handling

In [1]:
## file opening

##METHODS
1) Read() -> whole file
1) Readline() -> one line
1) Readlines() ->list of lines

In [11]:
file=open("data.txt","r")
content=file.read()
file.close()
print(content)

['hi i am amit kumar mahato\n', 'hey ,your are rohit thakur']

In [18]:

with open("data.txt", "w") as file:
    file.write("Hello world and my name is Amit Kumar Mahato.\n I live in the village. Make it professional.\n")


with open("data.txt", "a") as file:
    file.write("And appending this paragraph.\n")


with open("data.txt", "r") as file:
    content = file.readlines()

    

print(content)

['Hello world and my name is Amit Kumar Mahato.\n', ' I live in the village. Make it professional.\n', 'And appending this paragraph.\n']

In [23]:
with open("data.txt", "w") as file:
    file.write("Hello world and my name is Amit Kumar Mahato. I live in the village. Make it professional.\n")

In [24]:
with open("data.txt", "w") as file:
    file.write("I live in the village. Make it professional.\n")

In [21]:

with open("data.txt", "w") as file:
    file.write("Hello world and my name is Amit Kumar Mahato.\n I live in the village. Make it professional.\n")


with open("data.txt", "a") as file:
    file.write("And appending this paragraph.\n")


with open("data.txt", "r") as file:
    content = file.read()

    

print(content)

Hello world and my name is Amit Kumar Mahato.
 I live in the village. Make it professional.
And appending this paragraph.

In [22]:

with open("data.txt", "w") as file:
    file.write("Hello world and my name is Amit Kumar Mahato.\n I live in the village. Make it professional.\n")


with open("data.txt", "a") as file:
    file.write("And appending this paragraph.\n")


with open("data.txt", "r") as file:
    content = file.readline()

    

print(content)

Hello world and my name is Amit Kumar Mahato.

### 5table in 4 line space using loop and fuction

In [38]:
def table(filename, number, lines):
    with open(filename, "a") as file:
        for i in range(1, lines + 1):
            spaces = " " * (i - 1) * 4  
            file.write(f"{spaces}{number} x {i} = {number * i}\n")



with open("data.txt", "r") as file:
    content = file.read()
    print(content)

table("data.txt", 5, 10)

5 x 1 = 5
    5 x 2 = 10
        5 x 3 = 15
            5 x 4 = 20
                5 x 5 = 25
                    5 x 6 = 30
                        5 x 7 = 35
                            5 x 8 = 40
                                5 x 9 = 45
                                    5 x 10 = 50