### LIST OPERATIONS

In [6]:
my_list=[1,2,3,4]
my_list.append(5)
print(my_list)

[1, 2, 3, 4, 5]

In [1]:
my_list=[1,2,3,4]
my_list.insert(2,10)
print(my_list)

[1, 2, 10, 3, 4]

In [8]:
my_list=[1,2,3,4]
my_list.remove(3)
print(my_list)

[1, 2, 4]

In [27]:
my_list=[1,2,3,4]
my_list.pop()
print(my_list)

[1, 2, 3]

In [30]:
my_list=[1,2,3,4]
my_list.sort()
print(my_list)

[1, 2, 3, 4]

In [12]:
my_list=[1,2,3,4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

In [14]:
my_list=[50,60,70,80,90,100]
print(my_list[:2:-2])

[100, 80]

In [69]:
import time

start = time.time()
for _ in range(5_00_000):
    a = [1, 2, 3, 4]
end = time.time()
print("list create:", end - start)

start = time.time()
for _ in range(5_00_000):
    a = (1, 2, 3, 4)
end = time.time()
print("tuple create:", end - start)

list create: 0.24285221099853516
tuple create: 0.07795882225036621

In [68]:
import sys
a=[1,2,3,4,5]
b=(1,2,3,4,5)
print(sys.getsizeof(a))
print(sys.getsizeof(b))

104
80

In [70]:
a={1,2,3}
b={3,4,5}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

### Dictionaries

In [30]:
student = {"name": "amit", "age": 21, "grade": "A"}

print(student["name"])
student["age"]=22
print(student["age"])
print(student["grade"])
student["city"]="ktm"
print(student["city"])

student.values()

amit
22
A
ktm

dict_values(['amit', 22, 'A', 'ktm'])

In [29]:
student = {"name": "amit", "age": 21, "grade": "A"}

print(student["name"])
student["age"]=22
print(student["age"])
print(student["grade"])
student["city"]="ktm"
print(student["city"])

student.keys()

amit
22
A
ktm

dict_keys(['name', 'age', 'grade', 'city'])

In [31]:
student = {"name": "amit", "age": 21, "grade": "A"}

print(student["name"])
student["age"]=22
print(student["age"])
print(student["grade"])
student["city"]="ktm"
print(student["city"])


student.items()

amit
22
A
ktm

dict_items([('name', 'amit'), ('age', 22), ('grade', 'A'), ('city', 'ktm')])

In [32]:
student = {"name": "amit", "age": 21, "grade": "A"}

print(student["name"])
student["age"]=22
print(student["age"])
print(student["grade"])
student["city"]="ktm"
print(student["city"])


student.get("grade")

amit
22
A
ktm

'A'

In [37]:
student = {"name": "amit", "age": 21, "grade": "A"}

print(student["name"])
student["age"] = 22
print(student["age"])
print(student["grade"])
student["city"] = "ktm"
print(student["city"])

student.pop("age")
print(student)

amit
22
A
ktm
{'name': 'amit', 'grade': 'A', 'city': 'ktm'}

### Array

In [1]:
from array import array
arr=array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [44]:
from collections import Counter
c=Counter("banana")
print(c)

Counter({'a': 3, 'n': 2, 'b': 1})

In [45]:
from collections import defaultdict
d=defaultdict(int)
d["a"] +=1
print(d)

defaultdict(<class 'int'>, {'a': 1})

In [46]:
from collections import namedtuple
point=namedtuple("point","x y")
p=point(10,20)
print(p)

point(x=10, y=20)